<h1>New Ticket</h1>

<%= render 'form', ticket: @ticket %>

<%= link_to 'Back', tickets_path %>



<div class="card-container">
  <div class='card-wrapper'></div>

  <form id='payment-form'>
    <%= text_field_tag 'number', nil, placeholder: 'Numero de Tarjeta', class: 'purchase' %>
    <%= text_field_tag 'name', nil,  placeholder: 'Nombre en Tarjeta', class: 'purchase' %>
    <%= text_field_tag 'expiry', nil, placeholder: 'MM/AAAA', class: 'purchase' %>
    <%= text_field_tag 'cvc', nil, placeholder: 'CVC', class: 'purchase' %>
    <%= submit_tag 'Purchase', class: 'purchase' %>
  </form>
</div>

<script>
var card = new Card({
    form: 'form#payment-form',
    container: 'div.card-wrapper',
    placeholders: {
        number: '•••• •••• •••• ••••',
        name: 'Nombre en Tarjeta',
        expiry: '••/••',
        cvc: '•••'
    },
    debug: true
});
</script>
