<!DOCTYPE html>
<html>
  <head>
    <title>Beerfest2016</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav navbar-nav">
      <li><%=link_to 'Inicio', root_path %></li>
      <li><%=link_to 'Participantes', partners_path %></li>
      <li><%=link_to 'Evento', event_path %></li>
      <li><%=link_to 'Mapa', map_path %></li>
      <li><%=link_to 'Hoteles', hotels_path %></li>
      <li><%=link_to 'Contacto', contact_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
